<a href="https://colab.research.google.com/github/ishwarraja/Scaler/blob/main/DMLP/Intermediate/032%20-%20Python%20Refresher%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 56

In [ ]:
type(a)

int

In [ ]:
isinstance(a, int)

True

In [ ]:
isinstance(a, object)

True

In [ ]:
isinstance(True, object)

True

In [ ]:
isinstance(print, object)

True

In [ ]:
-10 // (10 % 7)

# 10 % 7 -> 3
# -10 // 3 -> -3.333333 -> -4

-4

In [ ]:
a = 5

In [ ]:
a = 6

In [ ]:
a

6

In [ ]:
a = 10

In [ ]:
id(a)

140396843821648

In [ ]:
a = 20

In [ ]:
id(a)

140396843821968

In [ ]:
a = 50

In [ ]:
id(a)

140396843822928

In [ ]:
b = 50

In [ ]:
id(b)

140396843822928

In [ ]:
b = 100

In [ ]:
id(b)

140396844013008

In [ ]:
a

50

In [ ]:
a = "random"

In [ ]:
b = "random"

In [ ]:
id(a) == id(b)

True

In [ ]:
'''
Question 1 - 
Write a simple program which takes a number as input from the user.

Print "Foo" if number is a multiple of 3
Print "Bar" if number is a multiple of 5
Print "FooBar" if number is a multiple of 15
'''

'\nQuestion 1 - \nWrite a simple program which takes a number as input from the user.\n\nPrint "Foo" if number is a multiple of 3\nPrint "Bar" if number is a multiple of 5\nPrint "FooBar" if number is a multiple of 15\n'

In [ ]:
number = int(input())

if number % 15 == 0:
    print("FooBar")
elif number % 3 == 0:
    print("Foo")
elif number % 5 == 0:
    print("Bar")

22

In [ ]:
number = int(input())

if number % 5 == 0:
    print("Bar")
elif number % 3 == 0:
    print("Foo")
elif number % 15 == 0:
    print("FooBar")

15
Bar

### Iteration Protocol

In [ ]:
# iter() and next()

In [ ]:
for i in "string":
    print(i)

s
t
r
i
n
g

In [ ]:
for i in [1,2,3]:
    print(i)

1
2
3

In [ ]:
for i in 45:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
a = "python"

In [ ]:
it = iter(a) # passing an iterable to the iter function will return an iterator

In [ ]:
it

In [ ]:
next(it)

'p'

In [ ]:
next(it)

'y'

In [ ]:
next(it)

't'

In [ ]:
next(it)

'h'

In [ ]:
next(it)

'o'

In [ ]:
next(it)

'n'

In [ ]:
next(it)

StopIteration:

In [ ]:
a = [1,2,3,4,5]

In [ ]:
it = iter(a)

In [ ]:
it

In [ ]:
a = range(5)

In [ ]:
it = iter(a)

In [ ]:
it

In [ ]:
board = [[""]*3]*3

In [ ]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [ ]:
board[0][0] = "0"

In [ ]:
board

[['0', '', ''], ['0', '', ''], ['0', '', '']]

In [ ]:
# HOMEWORK - Explain the above!

### Comprehension (List Comprehension)

In [ ]:
result = []
for i in range(1,11):
    result.append(i**2)

In [ ]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
result = [ i**2 for i in range(1, 11) ]

In [ ]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[ "cool" for i in range(5) ]

['cool', 'cool', 'cool', 'cool', 'cool']

In [ ]:
'''
Question 2 - 

Print the multiplication table till 10 using a single line of python code.

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
.
.
.
.
.
10 20 30 40 50 60 70 80 90 100
'''

'\nQuestion 2 - \n\nPrint the multiplication table till 10 using a single line of python code.\n\n1 2 3 4 5 6 7 8 9 10\n2 4 6 8 10 12 14 16 18 20\n.\n.\n.\n.\n.\n10 20 30 40 50 60 70 80 90 100\n'

In [ ]:
[ [ i*j for j in range(1,11) ] for i in range(1,11) ]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
result = []
for i in range(1,11):
    row = []
    for j in range(1,11):
        row.append(i*j)
        
    result.append(row)

In [ ]:
result

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
t1 = ( i for i in range(1,11) )

In [ ]:
tuple(t1) # generator object

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
s1 = { i for i in range(1,11) }

In [ ]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
d1 = { f"value - {i}": i**2 for i in range(1,11) }

In [ ]:
d1

{'value - 1': 1,
 'value - 2': 4,
 'value - 3': 9,
 'value - 4': 16,
 'value - 5': 25,
 'value - 6': 36,
 'value - 7': 49,
 'value - 8': 64,
 'value - 9': 81,
 'value - 10': 100}

In [ ]:
s1 = " i**2 for i in range(1,11) "

In [ ]:
s1

' i**2 for i in range(1,11) '

In [ ]:
s1 = "i**2"

In [ ]:
i

10

In [ ]:
s1

'i**2'

In [ ]:
s1 = f"{i**2}"

In [ ]:
s1

'100'

In [ ]:
[ [ i*j for j in range(1,11) ] for i in range(1,11) ]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

##ASSIGNMENT QUESTION

###Q1 VALID STATEMENT

Which of the following are valid statements in python: Assume that the variable ‘a’ has already been declared:

a.if a>=2:
      print("TRUE")

b.if (a=>2):
      print("TRUE")

c.if (a%2!=0):
      print("TRUE")

d.if a//3=1:
      print("TRUE")

In [6]:
if a>=2:
      print("TRUE")

# if (a=>2):
#       print("TRUE")

if (a%2!=0):
      print("TRUE")

# if a//3=1:
#       print("TRUE")

NameError: ignored

### Q2 (Number of Days)

Problem Description:

Write a program to return the number of days in a specific month in a non-leap year. You are given the index of the month. Assume that this indexing starts from 1. For eg: 1 for January, 2 for February, ....so on till 12 for December.

Input Format:

The number of test cases. For each testcase there will be a single line of input with integer representing the index of month.


Output Format:

No.of Days in the respective month in integer format


Sample Input:

1
12


Sample Output:

31

Sample explanation:

December has 31 days.

In [1]:
## APPROACH --> 1

def no_of_days(n):
    '''n => it's the month index.
       output => an integer for number of days in month at index n is expected.'''
    ans = None
    arr=[31,28,31,30,31,30,31,31,30,31,30,31]
    for i in range(0,len(arr)):
        if i == n:
            ans = arr[i-1]

    # ans = None
    # YOUR CODE GOES HERE
    
    
    
    return ans

print("Result: ",no_of_days(2))

Result:  28

In [3]:
## APPROACH --> 2

def no_of_days(n):
  ans = None
  if n == 2:
    ans = 28
  if n < 8:
    if n%2 ==0:
      ans =31
    else:
      ans = 30
  elif n > 8:
    if n%2 ==0:
      ans = 30
    else:
      ans =31
  return ans

print("Result: ",no_of_days(7))
print("Result: ",no_of_days(11))

Result:  30
Result:  31

###Q3. Type of triangles

Complete the code snippet in order to classify the triangle into equilateral, isosceles, and scalene on the basis of its sides a, b and c.

if (a==b __1__ a==c) and b==c:
  print("equilateral")
elif a==b __2__ b==c or c==a:
  print("isosceles")
else:
  print('scalene')

Which of the options can be placed at the first blank __1__ and the second blank __2__ to get the correct output?

###Q4. Which condition?

Which of the if-elif-else statements will get executed if the following code snippet is run?

if False:                                       #1
    print("Artificial Intelligence")
elif True:                                      #2
    print("Machine Learning")
elif True:                                      #3
    print("Data Science")
else:                                           #4
    print("Deep Learning")                      

Mark the correct option.

In [7]:
if False:                                       #1
    print("Artificial Intelligence")
elif True:                                      #2
    print("Machine Learning")
elif True:                                      #3
    print("Data Science")
else:                                           #4
    print("Deep Learning")

Machine Learning

###Q5. Nested If-Else

Given the nested if-else structure below, what will be the value of "a" after code execution completes

a = 4
b = -5

if a > 0:
    if b < 0:
        a = a - 2 
    elif a > 5:
        a = a - 4
    else:
        a = a + 3
else:
    b = b + 2

###Q6. Check and check

What is the output of the following code:

ANS = 3

In [ ]:
a = 1
b = 2
c = 3
if a > b:
    if a > c:
        print(a)
    else:
        print(c)
else:
    if b > c:
        print(b)
    else:
        print(c)

###Q7. If Boolean

What will be the output of the following code:

In [ ]:
if False:
  print("1")
elif True:
  print("2")
elif True:
  print("3")
else:
  print("4")

###Q8. Simple Interest


Problem Description:

Write a program to calculate the total amount if the principal amount, simple interest rate per annum, and time in the number of days are given. The simple interest rate per annum is provided as a percentage. Assuming that there are 365 days in a year, print the total amount rounded up to 2 decimal places.

Note 1: Use round(ans,2) to round up ans up to two decimals

Note 2: You need not take input in this problem, you need only to implement the function provided.

Input Format:

For each testcase there will be three lines of input as follows:  
The 3 lines have numbers  
The first line describes the time in number of days in int format 
The second line describes the principal amount in float format
The third line describes the interest rate per annum in percentage in float format

Output Format:

Total amount in float format

Sample Input:

1  
789
10000.0
1.3

Sample Output:

10281.01

In [8]:
def simple_int(time,pa,ir):
    si=(pa*(1+(time/365)*(ir/100)))
    ans=round(si,2)
    return ans

time = 789
pa = 10000.0
ir = 1.3
print("Result: ",simple_int(time,pa,ir))

Result:  10281.01

###Q9. print x and y


Which statement from the options can be used in the place of blank(????????) in the above code snippet to get 200 100 as the output.

print(x, end=" ")

In [ ]:
y = 100 \
# + 20 \
+ 20 
x = 200
????????
print(y)

###Q10. If-Else-Output

What will be the output of the following code:


The correct answer is: Error

**Explanation:**
Since the statement x=4 is between the if block and the else block, this code will produce an error. Else block should always immediately follow an if-elif block

In [9]:
x = 2
if x==2:
    x = 3
x = 4
else:
    x = 5
print(x)

SyntaxError: ignored