<a href="https://colab.research.google.com/github/ishwarraja/Scaler/blob/main/DMLP/Intermediate/033%20-%20Python%20Refresher%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
result = [ [ i*j for j in range(1, 11) ] for i in range(1, 11) ]

In [ ]:
result

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
result1 = [ i*j for j in range(1, 11) for i in range(1, 11) ]

In [ ]:
# result1

In [ ]:
random = [ (i, j) for j in [1, 2] for i in ["A", "B"] ]
# LEFT (OUTERMOST) -> RIGHT (INNERMOST)

'''
According to our understanding ->
    - for i in ["A", "B"] -> OUTER LOOP
    - for j in [1, 2] -> INNER LOOP
    
    - OUTPUT -> [("A", 1), ("A", 2), ("B", 1), ("B", 2)]
'''

'\nAccording to our understanding ->\n    - for i in ["A", "B"] -> OUTER LOOP\n    - for j in [1, 2] -> INNER LOOP\n    \n    - OUTPUT -> [("A", 1), ("A", 2), ("B", 1), ("B", 2)]\n'

In [ ]:
random

[('A', 1), ('B', 1), ('A', 2), ('B', 2)]

In [ ]:
'''
Question 1 - 

Encryption - We have 26 letters in the english alphabet.
Let's say I place a mirror between letters M and N splitting the alphabet into two mirrored sides.

Given a word, produce the mirror image of that word.

INPUT - "acy"
OUTPUT - "zxb"

EXPLANATION ->
"a" -> "z"
"c" -> "x"
"y" -> "b"
'''

'\nQuestion 1 - \n\nEncryption - We have 26 letters in the english alphabet.\nLet\'s say I place a mirror between letters M and N splitting the alphabet into two mirrored sides.\n\nGiven a word, produce the mirror image of that word.\n\nINPUT - "acy"\nOUTPUT - "zxb"\n\nEXPLANATION ->\n"a" -> "z"\n"c" -> "x"\n"y" -> "b"\n'

In [ ]:
letter = "m"
distance_from_a = ord(letter) - ord("a")

In [ ]:
distance_from_a

12

In [ ]:
mirror_letter = chr(ord("z") - distance_from_a)

In [ ]:
mirror_letter

'n'

In [ ]:
def mirror_image_encryption(message):
    result = ""
    
    for i in message:
        if i == " ":
            result += i
        else:
            distance = ord(i) - ord("a")
            result += chr(ord("z") - distance)
            
    return result

In [ ]:
mirror_image_encryption("zyxw abcd mn")

'abcd zyxw nm'

In [ ]:
def coolest_pattern_ever(n):
    for i in range(n):
        for j in range(n):
            print(max(i + 1, j + 1, n - i, n - j), end = " ")
            
        print()

In [ ]:
coolest_pattern_ever(8)

8 8 8 8 8 8 8 8
8 7 7 7 7 7 7 8
8 7 6 6 6 6 7 8
8 7 6 5 5 6 7 8
8 7 6 5 5 6 7 8
8 7 6 6 6 6 7 8
8 7 7 7 7 7 7 8
8 8 8 8 8 8 8 8

In [ ]:
'''
Question 2 - 

Marvel v/s DC - There are a total of 50 people in a class numbered from 1 to 50.
You will get two lists as input. 
    - One would contain list of all numbers who are Marvel fans
    - Other would contain list of all numbers who are DC fans
    
Output -> 
1. List of all people who are not a fan of either Marvel or DC
2. List of all the people who are a fan of both.
'''

'\nQuestion 2 - \n\nMarvel v/s DC - There are a total of 50 people in a class numbered from 1 to 50.\nYou will get two lists as input. \n    - One would contain list of all numbers who are Marvel fans\n    - Other would contain list of all numbers who are DC fans\n    \nOutput -> \n1. List of all people who are not a fan of either Marvel or DC\n2. List of all the people who are a fan of both.\n'

In [ ]:
marvel_fans = [1,4,5,10,15,16,18,19,20,25,31,32,33,36,39,41,49,50]
dc_fans = [4,5,7,12,14,22,27,35,45]

In [ ]:
def marvel_vs_dc(marvel_fans, dc_fans):
    fans_of_both = set(marvel_fans) & set(dc_fans)
    
    entire_class = set(range(1,51))
    fans_of_neither = entire_class - (set(marvel_fans) | set(dc_fans))
    
    return fans_of_neither, fans_of_both

In [ ]:
marvel_vs_dc(marvel_fans, dc_fans)

({2,
  3,
  6,
  8,
  9,
  11,
  13,
  17,
  21,
  23,
  24,
  26,
  28,
  29,
  30,
  34,
  37,
  38,
  40,
  42,
  43,
  44,
  46,
  47,
  48},
 {4, 5})

In [ ]:
'''
Question 3 - 

Ultimate Palindrome - Given a number as input return True if ultimate palindrome else False.
    - Palindrome ( 767, 7657567 )
    - Prime Number
'''

'\nQuestion 3 - \n\nUltimate Palindrome - Given a number as input return True if ultimate palindrome else False.\n    - Palindrome ( 767, 7657567 )\n    - Prime Number\n'

In [ ]:
number = 78987

In [ ]:
string_number = str(number)

In [ ]:
string_number

'78987'

In [ ]:
string_number == string_number[::-1]

True

In [ ]:
def ultimate_palindrome(number):
    s = str(number)
    
    # check for palindrome
    is_palindrome = s == s[::-1]
    
    # check for prime
    is_prime = True
    
    for i in range(2, number // 2 + 1):
        if number % i == 0:
            is_prime = False
            break
            
    return is_palindrome and is_prime

In [ ]:
ultimate_palindrome(7278)

False

In [ ]:
# HOMEWORK - Reverse a number without using strings

#Assignment

In [ ]:
for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [ ]:
x = [1, 2]
y = [2, 3]

for i in x:
    for j in y:
        print(i, j, end= " ")

1 2 1 3 2 2 2 3

In [ ]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

# New section

##Q4. Power of 2
Problem Description:
Write a program to find out if the given number n is a power of 2 or not. Print "Yes" if the number is power of two else print "No". Assume that 0 <= n <= 1018

Input Format:
The number n in integer format
Output Format:
Print "Yes" if true else "No" in string format.
Sample Input 1:4
Sample Output 1:Yes
Sample Input 2:15
Sample Output 2:No

In [2]:
# x = int(input())
x = 1
p = 1
ans="No"

#YOUR CODE GOES HERE
if x % 2 == 0 or x == 1:
    print("Yes")
else:
    print("No")

Yes

In [5]:
x = int(input())
p = 1
ans="No"

for i in range(64):
    if p==x:
        ans="Yes"
    p*=2
print(ans)

3
No

##Q5. Sum even_odd

Problem Description:
You are given an integer n, you need to find and return the sum of all even numbers and the sum of all odd numbers between 1 and n inclusive.
Input Format:The only argument to the function is n.
Output Format:Return integers denoting the sum of even numbers and the sum of odd numbers between [1, A] (both inclusive).
Sample Input:
1
5
Sample Output:
6 9
Output Explanation:
6 is the sum of all even numbers between [1,5] i.e. 2+4
9 is the sum of all odd numbers between [1,5] i.e. 1+3+5

Python 3 (python-3.8)
Syncing code...
1

In [7]:
def sum_even_odd(n):
    sum_even=0
    sum_odd=0
    '''input: n = A single integer for the range where n is inclusive
       output: sum_even and sum_odd is returned'''
    
    # YOUR CODE GOES HERE
    for i in range(1,n+1):
        if(i%2 == 0):
            print(i)
            sum_even = sum_even + i
        else:
            sum_odd = sum_odd + i
    
    return sum_even,sum_odd

print("Result: ", sum_even_odd(10))

2
4
6
8
10
Result:  (30, 25)

In [14]:
from PyDictionary import PyDictionary
  
  
dict = PyDictionary()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement load_dictionary (from versions: none)
ERROR: No matching distribution found for load_dictionary

In [ ]:
def product(lst):
    ''' input:lst-List of elements in integer format
         output:Return the product as result.'''
    
    result = 1
    # YOUR CODE GOES HERE
    for i in lst:
        result = result * i
    return result

##Q6. print values

What will be the output of the following code:

for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end="")
    print("c")

In [6]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end="")
    print("c")

a a c

##Q7. Product of elements
Problem Description:
Write a program that returns the product of all elements present in the array.
Constraints:
1 <= |A| <= 100
1 <= A <= 100
Note: It is guaranteed that the resultant product will be <= 1015
Input Format:An integer array A as the function argument
Output Format:Product of elements in integer format
Sample Input:A = [7, 9, 2, 51]
Sample Output:6426
Sample explanation:
The product of all the elements is 7 * 9 * 2 * 51 = 6426 is returned.

In [8]:
def product(lst):
    ''' input:lst-List of elements in integer format
         output:Return the product as result.'''
    
    result = 1
    # YOUR CODE GOES HERE
    for i in lst:
        result = result * i
    return result

A = [7, 9, 2, 51] 
print("Result",product(A))

Result 6426

##Q8. Cricket Players

Which of the options adds the elements 'Dhoni' and 'Virat' to the end of the given list?
players = ['Jadeja','Rahul','Rohit'].
So, the resultant list will be players = ['Jadeja','Rahul','Rohit','Dhoni','Virat'].

In [12]:


players = ['Jadeja','Rahul','Rohit']
# players+='Dhoni Virat' --> Not Working
# players[len(players):] = ['Dhoni','Virat'] ---> Working
players[-1:] = ['Dhoni','Virat']
# players+=['Dhoni','Virat']-Working
print(players)

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [9]:
def perfect_number(n):
  x = n
  mid = x//2
  ans = 0
  for i in range(mid):
    ans = ans + i
    if ans == mid:
      return 1
  return 0


print(perfect_number(496))

0

In [12]:
a= ['data', 'python', 'scaler', 'ML', 'foo', 'Jupyter', 'lists']
print(a[-6:-3])
print(a[5::-3])
print(a[-7])
print(a[:]==a)

['python', 'scaler', 'ML']
['Jupyter', 'scaler']
data
True

##Q10. Perfect Number

Problem Description:
Write a function to check whether a given number n as an input to the function is a perfect number or not. If the given integer is a perfect number return 1 else return 0.
Note: In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum).
Input Format:The only argument to the function is an integer n.
Output Format:Print out 1 if the number is perfect else 0 in integer format.
Sample Input: 6
Sample Output:1
Sample Explanation:
Given number is 6. 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. Hence 6 is a perfect number.

In [11]:
def perfect_number(n):
  x = n
  mid = x//2
  ans = 0
  for i in range(1,mid):
    if n%i == 0:
      ans = ans + i
    if ans == mid:
      return 1
  return 0


print(perfect_number(496))

1