<a href="https://colab.research.google.com/github/ishwarraja/Scaler/blob/main/DMLP/Intermediate/043-OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
    def __init__(self, name, age):
        print(f"ID of self - {id(self)}")
        
        # Instane Variables / Instance Attributes
        self.name = name
        self.age = age

In [ ]:
a = Student("Bipin Kalra", 5000)

ID of self - 140162770981408

In [ ]:
id(a)

140162770981408

In [ ]:
a

In [ ]:
a.name

'Bipin Kalra'

In [ ]:
a.age

5000

In [ ]:
class Dog:
    # CLASS VARIABLE
    kind = "labra"
    
    def __init__(self, name):
        # INSTANCE VARIABLE
        self.name = name

In [ ]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [ ]:
d1.name

'Tuffy'

In [ ]:
d2.name

'Scooby'

In [ ]:
d1.kind

'labra'

In [ ]:
d2.kind

'labra'

In [ ]:
# FROM AN OBJECT -> YOU CAN ACCESS BOTH INSTANCE AND CLASS VARIABLES

In [ ]:
Dog.kind

'labra'

In [ ]:
Dog.name

AttributeError: type object 'Dog' has no attribute 'name'

In [ ]:
d1.kind = "german shepherd"

In [ ]:
d1.kind

'german shepherd'

In [ ]:
d2.kind

'labra'

In [ ]:
Dog.kind

'labra'

In [ ]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [ ]:
d1.teach_trick("jump")

In [ ]:
d1.teach_trick("sit")

In [ ]:
d1.tricks

['jump', 'sit']

In [ ]:
d2.tricks

['jump', 'sit']

In [ ]:
Dog.tricks

['jump', 'sit']

In [ ]:
'''
Class Variables vs Instance Variables ->

Updating an class variable using an object - 
    - Mutable Variable -> The class variable itself is modified
    - Immutable Variable -> A new instance variable is created just for that object
'''

'\nClass Variables vs Instance Variables ->\n\nUpdating an class variable using an object - \n    - Mutable Variable -> The class variable itself is modified\n    - Immutable Variable -> A new instance variable is created just for that object\n'

In [ ]:
# MAGIC METHODS / DUNDERS

In [ ]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.name + other.name
    
    def __gt__(self, other):
        return self.milaege > other.milaege

In [ ]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14)

In [ ]:
print(c1)

# Car.__str__(c1)

Nexon -> 13

In [ ]:
print(c2)

Altroz -> 14

In [ ]:
c1 + c2

# c1.__add__(c2)
# Car.__add__(c1, c2)

'NexonAltroz'

In [ ]:
c1 > c2

False

In [ ]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.balance

10000

In [ ]:
b1.deposit(5000)

In [ ]:
b1.withdraw(15000)

In [ ]:
b1.balance

0

In [ ]:
b1.balance = 123456789098765432345678909876543212345678987654321

In [ ]:
# Private Variables

In [ ]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # __balance is a private variable
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        return f"Balance = {self.__balance}"

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.show_balance()

'Balance = 10000'

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.__balance = 12345678987654321345678987654321234567897654321

In [ ]:
b1.__balance

12345678987654321345678987654321234567897654321

In [ ]:
b1.show_balance()

'Balance = 10000'

In [ ]:
b1._BankAccount__balance # NAME MANGLING

# this variable is created instead of __balance

0

In [ ]:
b1._BankAccount__balance = 0

In [ ]:
b1.show_balance()

'Balance = 0'

In [ ]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        # Staff.__init__(self, name, salary)
        super().__init__(name, salary)

In [ ]:
t1 = Teacher("Bipin Kalra", 10, "Computer Science")

In [ ]:
t1.department

'Computer Science'

In [ ]:
t1.name

'Bipin Kalra'

In [ ]:
t1.salary

10

In [ ]:
class A:
    pass

class B:
    pass

class C(A, B):
    pass

In [ ]:
# Research about how super() works in case of multiple inheritence.

In [ ]:
# DIAMOND INHERITENCE

In [ ]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass
    
class D(A):
    x = 5
    
class E(C, D):
    pass

In [ ]:
e = E()

In [ ]:
e.x

5

In [ ]:
E.__mro__ # special parameter to print MRO or Method Resolution Order

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)