<a href="https://colab.research.google.com/github/ishwarraja/Scaler/blob/main/DMLP/Intermediate/043-OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
    def __init__(self, name, age):
        print(f"ID of self - {id(self)}")
        
        # Instane Variables / Instance Attributes
        self.name = name
        self.age = age

In [ ]:
a = Student("Bipin Kalra", 5000)

ID of self - 140162770981408

In [ ]:
id(a)

140162770981408

In [ ]:
a

In [ ]:
a.name

'Bipin Kalra'

In [ ]:
a.age

5000

In [ ]:
class Dog:
    # CLASS VARIABLE
    kind = "labra"
    
    def __init__(self, name):
        # INSTANCE VARIABLE
        self.name = name

In [ ]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [ ]:
d1.name

'Tuffy'

In [ ]:
d2.name

'Scooby'

In [ ]:
d1.kind

'labra'

In [ ]:
d2.kind

'labra'

In [ ]:
# FROM AN OBJECT -> YOU CAN ACCESS BOTH INSTANCE AND CLASS VARIABLES

In [ ]:
Dog.kind

'labra'

In [ ]:
Dog.name

AttributeError: type object 'Dog' has no attribute 'name'

In [ ]:
d1.kind = "german shepherd"

In [ ]:
d1.kind

'german shepherd'

In [ ]:
d2.kind

'labra'

In [ ]:
Dog.kind

'labra'

In [ ]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [ ]:
d1.teach_trick("jump")

In [ ]:
d1.teach_trick("sit")

In [ ]:
d1.tricks

['jump', 'sit']

In [ ]:
d2.tricks

['jump', 'sit']

In [ ]:
Dog.tricks

['jump', 'sit']

In [ ]:
'''
Class Variables vs Instance Variables ->

Updating an class variable using an object - 
    - Mutable Variable -> The class variable itself is modified
    - Immutable Variable -> A new instance variable is created just for that object
'''

'\nClass Variables vs Instance Variables ->\n\nUpdating an class variable using an object - \n    - Mutable Variable -> The class variable itself is modified\n    - Immutable Variable -> A new instance variable is created just for that object\n'

In [ ]:
# MAGIC METHODS / DUNDERS

In [ ]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.name + other.name
    
    def __gt__(self, other):
        return self.milaege > other.milaege

In [ ]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14)

In [ ]:
print(c1)

# Car.__str__(c1)

Nexon -> 13

In [ ]:
print(c2)

Altroz -> 14

In [ ]:
c1 + c2

# c1.__add__(c2)
# Car.__add__(c1, c2)

'NexonAltroz'

In [ ]:
c1 > c2

False

In [ ]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.balance

10000

In [ ]:
b1.deposit(5000)

In [ ]:
b1.withdraw(15000)

In [ ]:
b1.balance

0

In [ ]:
b1.balance = 123456789098765432345678909876543212345678987654321

In [ ]:
# Private Variables

In [ ]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # __balance is a private variable
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        return f"Balance = {self.__balance}"

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.show_balance()

'Balance = 10000'

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.__balance = 12345678987654321345678987654321234567897654321

In [ ]:
b1.__balance

12345678987654321345678987654321234567897654321

In [ ]:
b1.show_balance()

'Balance = 10000'

In [ ]:
b1._BankAccount__balance # NAME MANGLING

# this variable is created instead of __balance

0

In [ ]:
b1._BankAccount__balance = 0

In [ ]:
b1.show_balance()

'Balance = 0'

In [ ]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        # Staff.__init__(self, name, salary)
        super().__init__(name, salary)

In [ ]:
t1 = Teacher("Bipin Kalra", 10, "Computer Science")

In [ ]:
t1.department

'Computer Science'

In [ ]:
t1.name

'Bipin Kalra'

In [ ]:
t1.salary

10

In [ ]:
class A:
    pass

class B:
    pass

class C(A, B):
    pass

In [ ]:
# Research about how super() works in case of multiple inheritence.

In [ ]:
# DIAMOND INHERITENCE

In [ ]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass
    
class D(A):
    x = 5
    
class E(C, D):
    pass

In [ ]:
e = E()

In [ ]:
e.x

5

In [ ]:
E.__mro__ # special parameter to print MRO or Method Resolution Order

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

#ASSIGNMENT

In [2]:

    
class Smaller:
    def __init__(self,a):
        self.string=a

    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        vowel=['a','e','i','o','u']
        # YOUR CODE GOES HERE
        for i in range(len(self.string)):
            if a[i] in vowel:
                ans +=1
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        
        # YOUR CODE GOES HERE
        print(ans)

a = "aman"
def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=larger(a)
        obj.display()
        obj.evaluate()

##**Q3. Inheritance using ML**

You are already given a class Machine_Learning with its constructor and a number of methods. You have to define a class Supervised which will inherit the MachineLearning class with the following data members and methods:

Data Members:

1. name: string
2. category: string

Methods:

1. Constructor: Initialize the data member and call the parent class constructor
2. getname(): Returns the data member name.
3. getcategory(): Returns the data member breed.
4. type(): Prints 'Supervised Learning Algorithm'.

You also have to define a class Unsupervised which will also inherit the MachineLearning class with the same data members and methods as in Supervised, but the type() will have to print Unsupervised Learning Algorithm for this class.

Input Format:

4 strings each in a new line. First two strings are name and category for Supervised class object and the last two are for Unsupervised class object.

Output Format:

Name of class is printed for the two instantiated objects.
Category of class is printed for the two instantiated objects.
type() of class is printed for the two instantiated objects.

Sample Input:

Logistic Regression
Classification Algo
k-Means
Clustering Algo

Sample output:

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

Sample's Explanation:

For Linear Regression, Classification Algo the type of class is supervised therefore it's printed after its name and category. For k-Means, Clustering Algo the type of class is supervised therefore it's printed after its name and

In [ ]:

class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
      super().__init__(name,category)

    
    def type(self):
        #YOUR CODE GOES HERE
        return self.type

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        self.name = name
        self.category = category 
    
    def type(self):
        #YOUR CODE GOES HERE
        return self.type

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

##Q4. class solution

What will be the output of the following code snippet?

In [1]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

##Q5. student marks

In [2]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

##Q6. pizza's circumference

Observe the following code snippet and select the correct option to get the circumference of pizza having radius of 6 cm.

In [6]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2
        print("Radius: ",self.radius)

    def circumference(self):
        return 2 * self.pi * self.radius

pizza = Circle(6)
print(pizza.circumference()) #OptionA -> Working

pizza = Circle(12)
print(pizza.circumference())
# print(pizza.self.circumference()) #OptionD -> NotWorking

Radius:  3.0
18.84
Radius:  6.0
37.68